node_modules/
# file-init/locale.json
# file-init/text.js
# gen/gen.json
locale/ar.json
locale/de.json
locale/en.json
locale/es.json
locale/fr.json
locale/id.json
locale/ja.json
locale/ko.json
locale/pt.json
locale/ru.json
locale/th.json
locale/tl.json
locale/tr.json
locale/vi.json
locale/zh-cn.json
locale/zh-tw.json
